/* DOCUMENT INFORMATION
    - Description: Main (only) styling for project
    - Authors: Nisha Bhuva, Emily Blackman, Samuel Hill
*/

/* COLORS
    - navbar             #305568
    - background         #95A8B1
    - tabs               #7BAE7F
    - borders            #596157
    - tab text           #C8D5B9
*/

/* FONTS
    - default body text  Roboto, sans-serif
*/

/*  ===GLOBAL STYLES===  */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #95A8B1;
}

nav {
    background-color: #305568;
    height: 75px;
    font-weight: bold;
    font-size: 1.25rem;
}


.navbar-brand > img {
    margin-right: 10px;
}

#navbar-about-a {
    color: #C8D5B9;
}

#navbar-about-a > img {
    width: 30px;
    height: 30px;
}

#navbar-assessment-a {
    display: none;
    color: #C8D5B9;
}

#navbar-login-a {
    color: #C8D5B9;
}

.spacing-container {
    padding-top: 20px;
}

.hr {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #596157;
    width: 90%;
}

.clearFloats {
    clear: both;
}

.center_of_page {
    width: 80%;
    margin: 60px auto;
    display: block;
}

.btn-primary {
    color: white;
    background-color: #7BAE7F;
    border-color: #7BAE7F;
}

.btn-primary:hover {
    background-color: #4E724E;
    border-color: #4E724E;
    box-shadow: none;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #4E724E !important;
    border-color: #4E724E !important;
    box-shadow: 0 0 0 0.2rem #7BAE7F !important;
}

h5 {
    font-weight: bold;
}

/*  ===PAGES===  */
#about {
    width: 800px;
}

.jumbotron {
    height: 450px;
    background-image: url("earth_horizon-wide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#assessment {
    display: none;
}

#login {
    display: none;
}

/*  ===ABOUT===  */

#image_container {
    width: 500px;
    display: block;
    margin: auto;
}

#image_container img {
    width: 500px;
}

.image_link {
    font-size: xx-small;
    text-decoration: none;
}

#about_name{
    font-size: 1.75rem;
    font-weight: bolder;
    font-style: italic;
    color: #52414C;
    text-align: center;
}

#about_description{
    padding-top: 10px;
}

.aboutAssessmentButton {
    width: 127px;
    margin: 0 auto;
}

/*  ===ASSESSMENT===  */

.nav-tabs .nav-link {
    border: 1px solid #596157;
    background: #7BAE7F;
    color: white;
}

.nav-tabs .nav-link:hover {
    border: 1px solid #596157;
    background-color: #4E724E;
}

.nav-tabs .nav-link.active {
    border-color: #596157 #596157 #FFF;
}

.nav-tabs .nav-link.active:hover {
    background-color: #FFF;
}

.tab-content {
    border-left: 1px solid #596157;
    border-bottom: 1px solid #596157;
    border-right: 1px solid #596157;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

.tab-pane {
    padding: 0 75px;
    min-height: 700px;
    position: relative;
}

.assessmentButtonContainer {
    padding-top: 78px;
}

.assessmentContinue {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 60px;
}

.assessmentBack {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 60px;
}

/* Home Tab */

#utilitiesCheckbox {
    margin: 0;
}

label[for=utilitiesCheckbox] {
    font-weight: bold;
}

#heatingSourceUtilities {
    display: none;
}

label[for=heatingSourceSelect] {
    font-weight: bold;
}

#naturalGasUtilities {
    display: none;
}

label[for=naturalGasFields] {
    font-weight: bold;
}

#electricityUtilities {
    display: none;
}

label[for=electricityFields] {
    font-weight: bold;
}

#fuelOilUtilities {
    display: none;
}

label[for=fuelOilFields] {
    font-weight: bold;
}

#propaneUtilities {
    display: none;
}

label[for=propaneFields] {
    font-weight: bold;
}

#coalUtilities {
    display: none;
}

label[for=coalFields] {
    font-weight: bold;
}

#lpgUtilities {
    display: none;
}

label[for=lpgFields] {
    font-weight: bold;
}

/* Transportation Tab */

label[for=numVehiclesSelector] {
    font-weight: bold;
}

#vehicle1 {
    display: none;
}

label[for=vehicle1fields] {
    font-weight: bold;
}

#vehicle2 {
    display: none;
}

label[for=vehicle2fields] {
    font-weight: bold;
}

#vehicle3 {
    display: none;
}

label[for=vehicle3fields] {
    font-weight: bold;
}

#vehicle4 {
    display: none;
}

label[for=vehicle4fields] {
    font-weight: bold;
}

#vehicle5 {
    display: none;
}

label[for=vehicle5fields] {
    font-weight: bold;
}

label[for=publicTransitCheckbox] {
    font-weight: bold;
}

#bus {
    display: none;
}

label[for=busFields] {
    font-weight: bold;
}

#localTrain {
    display: none;
}

label[for=localTrainFields] {
    font-weight: bold;
}

#longDistTrain {
    display: none;
}

label[for=longDistTrainFields] {
    font-weight: bold;
}

#tram {
    display: none;
}

label[for=tramFields] {
    font-weight: bold;
}

#subway {
    display: none;
}

label[for=subwayFields] {
    font-weight: bold;
}

#taxi {
    display: none;
}

label[for=taxiFields] {
    font-weight: bold;
}

label[for=flightFields] {
    font-weight: bold;
}

.flightCardSpacing {
    margin-top: 10px;
}

.flightCardBodySpacing {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}

.flightCardTitleSpacing {
    float: left;
}

.flightCardSubtitleSpacing {
    margin-top: 3px;
    float: right;
}

/* Diet Tab */

label[for=locallySourced] {
    font-weight: bold;
    overflow-x: visible;
}

label[for=dietaryStyle] {
    font-weight: bold;
    overflow-x: visible;
}

#mealsPerDay {
    display: none;
}

label[for=mealsPerDayInput] {
    font-weight: bold;
    overflow-x: visible;
}

#typeOfMeat {
    display: none;
}

label[for=typeOfMeatInput] {
    font-weight: bold;
    overflow-x: visible;
}

/* Results Tab */

#resultsChart{
    min-width: 310px;
    height: 900px;
    margin: 10px auto;
}

.ifEveryoneWasLikeYouCard {
    width: 18rem;
    margin: 10px auto;
}

.card-img-top {
    width: 75px;
    margin: 20px auto 0 auto;
}

#ifEveryoneWasLikeYouHeader {
    text-align: center;
    margin: 20px 0;
}

/* Goals Tab */

.circle {
    margin: 0 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid #596157;
}

.circle>p {
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
}

#eiffelBadge {
    background: #B1BFC6;
}

#eiffelBadge>img {
    margin-left: 45px;
    width: 60px;
    margin-right: 45px;
    margin-top: 5px;
}

#nationalBadge {
    background: #7B9F86;
}

#nationalBadge>img {
    margin-left: 35px;
    width: 80px;
    margin-right: 35px;
    margin-top: 5px;
}

#nationalBadge>p {
    margin-top: 5px;
}

#transBadge {
    background: #7B9F86;
}

#transBadge>img {
    margin-left: 35px;
    width: 80px;
    margin-right: 35px;
    margin-top: 5px;
}

#paris-presets {
    display: none;
}

#average-presets {
    display: none;
}

#custom-goals {
    display: none;
}

label[for=homeGoalFields] {
    font-weight: bold;
    overflow-x: visible;
}

label[for=transGoalFields] {
    font-weight: bold;
    overflow-x: visible;
}

label[for=dietGoalFields] {
    font-weight: bold;
    overflow-x: visible;
}

