/* DOCUMENT INFORMATION
    - Description: Main (only) styling for project
    - Authors: Nisha Bhuva, Emily Blackman, Samuel Hill
*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =PAGES
    3. =ASSESSMENT
*/

/* COLORS
    - navbar             #498096
    -                    #4A7C59
    - default p text     #596157
    -                    #C8D5B9
    -                    #52414C
*/

/* FONTS
    - default body text  Roboto, sans-serif
*/

/*  ===GLOBAL STYLES===  */
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #498096;
}

/*  ===PAGES===  */
#about-us {
}

#assessment {
    display: none;
}

#login {
    display: none;
}

/*  ===ASSESSMENT===  */
.assessmentNavigation {
    margin-top: 20px;
}

.assessmentContinue {
    float: right;
}

.assessmentBack {
    float: left;
}

.utilitiesSubSection {
    margin-top: 20px;
}

#heatingSourceUtilities {
    display: none;
}

#naturalGasUtilities {
    display: none;
}

#electricityUtilities {
    display: none;
}

#fuelOilUtilities {
    display: none;
}

#propaneUtilities {
    display: none;
}

#coalUtilities {
    display: none;
}

#lpgUtilities {
    display: none;
}

/* Transportation Tab */

.vehicle {
    margin-top: 20px;
}

#vehicle1 {
    display: none;
}

#vehicle2 {
    display: none;
}

#vehicle3 {
    display: none;
}

#vehicle4 {
    display: none;
}

#vehicle5 {
    display: none;
}

#bus {
    display: none;
}

#coach {
    display: none;
}

#localTrain {
    display: none;
}

#longDistTrain {
    display: none;
}

#tram {
    display: none;
}

#subway {
    display: none;
}

#taxi {
    display: none;
}
