/* DOCUMENT INFORMATION
    - Description: Main (only) styling for project
    - Authors: Nisha Bhuva, Emily Blackman, Samuel Hill
*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =PAGES
    3. =ABOUT
    4. =ASSESSMENT
*/

/* COLORS
    - navbar             #1C4559
    - background         #95A8B1
    - tabs               #7BAE7F
    - borders            #596157
    - tab text           #C8D5B9
*/

/* FONTS
    - default body text  Roboto, sans-serif
*/

/*  ===GLOBAL STYLES===  */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #95A8B1;
}

nav {
    background-color: #1C4559;
    height: 75px;
}


.navbar-brand {
    font-weight: bold;
}

#navbar-about-a {
    color: #C8D5B9;
}

#navbar-about-a > img {
    width: 30px;
    height: 30px;
}

#navbar-assessment-a {
    display: none;
    color: #C8D5B9;
}

#navbar-login-a {
    color: #C8D5B9;
}

.spacing-container {
    padding-top: 20px;
}

.hr {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #596157;
    width: 90%;
}

.clearFloats {
    clear: both;
}

.center_of_page {
    width: 70%;
    margin: 20px auto;
    display: block;
}

.btn-primary {
	background-color: #7BAE7F;
	border-color: #7BAE7F;
}

/*  ===PAGES===  */
#about {
    width: 800px;
}

#assessment {
    display: none;
    margin-top: 60px;
}

#login {
    display: none;
}

/*  ===ABOUT===  */

#image_container {
    width: 500px;
    display: block;
    margin: auto;
}

#image_container img {
    width: 500px;
}

.image_link {
    font-size: xx-small;
    text-decoration: none;
}

#about_name{
    padding-top: 10px;
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
    color: #52414C;
    text-align: center;
}

#about_description{
    padding-top: 10px;
}

.aboutLoginButton {
    margin-right: 50px;
    float: right;
}

.aboutAssessmentButton {
    margin-left: 50px;
    float: left;
}

/*  ===ASSESSMENT===  */

.nav-tabs .nav-link {
    border: 1px solid #596157;
    background: #7BAE7F;
    color: white;
}

.nav-tabs .nav-link.active {
    /*border-color: #596157;*/
    border-color: #596157 #596157 #FFF;
}

.tab-content {
    border-left: 1px solid #596157;
    border-bottom: 1px solid #596157;
    border-right: 1px solid #596157;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

.assessmentContinue {
    float: right;
}

.assessmentBack {
    float: left;
}

/* Home Tab */

#utilitiesCheckbox {
    margin: 0;
}

#heatingSourceUtilities {
    display: none;
}

#naturalGasUtilities {
    display: none;
}

#electricityUtilities {
    display: none;
}

#fuelOilUtilities {
    display: none;
}

#propaneUtilities {
    display: none;
}

#coalUtilities {
    display: none;
}

#lpgUtilities {
    display: none;
}

/* Transportation Tab */

#vehicle1 {
    display: none;
}

#vehicle2 {
    display: none;
}

#vehicle3 {
    display: none;
}

#vehicle4 {
    display: none;
}

#vehicle5 {
    display: none;
}

#bus {
    display: none;
}

#localTrain {
    display: none;
}

#longDistTrain {
    display: none;
}

#tram {
    display: none;
}

#subway {
    display: none;
}

#taxi {
    display: none;
}

.flightCardSpacing {
    margin-top: 10px;
}

.flightCardBodySpacing {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}

.flightCardTitleSpacing {
    float: left;
}

.flightCardSubtitleSpacing {
    margin-top: 3px;
    float: right;
}

/* Diet Tab */

#mealsPerDay {
    display: none;
}

#typeOfMeat {
    display: none;
}

/* Results Tab */

#resultsChart{
    min-width: 310px;
    height: 800px;
    margin: 10px auto;
}

.ifEveryoneWasLikeYouCard {
    width: 18rem;
    margin: 10px auto;
}

.card-img-top {
    width: 75px;
    margin: 20px auto 0 auto;
}

#ifEveryoneWasLikeYouHeader {
    text-align: center;
    margin: 20px 0;
}

/* Goals Tab */

.circle {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.circle>p {
    text-align: center;
    font-size: .7rem;
}

#eiffelBadge {
    background: #B1BFC6;
}

#eiffelBadge>img {
    margin-left: 35px;
    width: 50px;
    margin-right: 35px;
    margin-top: 5px;
}

#nationalBadge {
    background: #7B9F86;
}

#nationalBadge>img {
    margin-left: 25px;
    width: 70px;
    margin-right: 25px;
    margin-top: 5px;
}

#transBadge {
    background: #7B9F86;
}

#transBadge>img {
    margin-left: 25px;
    width: 70px;
    margin-right: 25px;
    margin-top: 5px;
}

#paris-presets {
    display: none;
}

#average-presets {
    display: none;
}

#custom-goals {
    display: none;
}

